<template>
  <div class="container my-5">
    <div class="row">
      <div class="col-md-3">

        <div class="card shadow">
          <div class="card-header p-0">
            <img src="https://media.discordapp.net/attachments/936604584460296205/1207599698106515506/IMG_0993.jpg?ex=65e03bdc&is=65cdc6dc&hm=74f147bc26c7128a01f5cb78341017db1c6aea47e5fcddd6e62a6fe131506825&=&format=webp&width=287&height=383" class="card-img-top"
              alt="img">
          </div>
          <div class="card-body">
            <h5 class="cart-title">เกี่ยวกับเรา</h5>
            <p class="card-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Rerum quaerat perferendis
              quas eum doloribus molestiae!
            </p>
            <a href="#" class="btn btn-primary btn-sm">อ่านต่อ...</a>
          </div>
        </div>

      </div>

      <div class="col-md-6">

      </div>

    </div>
  </div>
</template>

<script setup>

</script>

<style>
@import url('https://fonts.googleapis.com/css2?family=Sarabun&display=swap');

h5,
p {
  font-family: 'Sarabun', sans-serif;
}

a {
  font-family: 'Sarabun', sans-serif;
}
</style>